:host {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #69B6E1;
  cursor: url('/images/paw.png'), auto;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
}
