@mixin scrollbar($autohide: true, $small: false) {
  overflow: auto;
  overflow: overlay;
  overflow-x: hidden;
  scrollbar-color: var(--accent) transparent;
  scrollbar-width: thin;

  @supports (-moz-appearance:none) {
    scrollbar-color: var(--accent) var(--accent);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: if($small, var(--accent), var(--accent));
  }

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    border-radius: if($small, 25px, 50px);
    background-color: if($autohide, transparent, var(--accent));

    @if $small {
      background-color: if($autohide, transparent, var(--accent));
    }
  }

  &::-webkit-scrollbar {
    width: if($small, 4px, 8px);
    height: if($small, 4px, 8px);
  }
}
